In [18]:
import pandas as pd
import numpy as np

data1 = pd.DataFrame({'names':['Shahab','Ali','Khan','Ahmed'],'age':[21,23,33,25]})
data2 = pd.DataFrame({'names':['Shahab','Khan','Mashoor'],'age1':[21,222,34]})

In [14]:
print(data1)
print(data2)
print()
merged = pd.merge(data1,data2)
print(merged)

    names  age
0  Shahab   21
1     Ali   23
2    Khan   33
3   Ahmed   25
     names  age1
0   Shahab    21
1     Khan   222
2  Mashoor    34

    names  age  age1
0  Shahab   21    21
1    Khan   33   222

In [19]:
merge1 = pd.merge(data1,data2,left_on='age',right_on='age1')
print(merge1)

  names_x  age names_y  age1
0  Shahab   21  Shahab    21

In [22]:
merge_outer = pd.merge(data1,data2,how='outer')
print(merge_outer)

     names   age   age1
0   Shahab  21.0   21.0
1      Ali  23.0    NaN
2     Khan  33.0  222.0
3    Ahmed  25.0    NaN
4  Mashoor   NaN   34.0

In [25]:
merge_left = pd.merge(data1,data2,how='left')
print(merge_left)

    names  age   age1
0  Shahab   21   21.0
1     Ali   23    NaN
2    Khan   33  222.0
3   Ahmed   25    NaN

In [26]:
merge_right = pd.merge(data1,data2,how='right')
print(merge_right)

     names   age  age1
0   Shahab  21.0    21
1     Khan  33.0   222
2  Mashoor   NaN    34

In [31]:
set1 = pd.Series([np.nan,1,2,3,4,np.nan,67],index=[0,1,2,3,4,5,6])
set2 = pd.Series([56,3,np.nan,34,44,65,68],index=[0,1,2,3,4,5,6])

In [32]:
combined_set = np.where(pd.isnull(set1),set2,set1)
print(combined_set)

[56.  1.  2.  3.  4. 65. 67.]

In [34]:
combined_first = set1.combine_first(set2)
print(combined_first)

0    56.0
1     1.0
2     2.0
3     3.0
4     4.0
5    65.0
6    67.0
dtype: float64

In [36]:
data = pd.DataFrame(np.arange(6).reshape((3,2)),
                    index=pd.Index(['int1','int2','int3']),
                    columns=pd.Index(['x','y']
                    ))
print(data)

      x  y
int1  0  1
int2  2  3
int3  4  5

In [38]:
stacked = data.stack()
print(stacked)

int1  x    0
      y    1
int2  x    2
      y    3
int3  x    4
      y    5
dtype: int32

In [40]:
set1 = pd.Series([23,5,6,7],index=[0,1,2,3])
set2 = pd.Series([237,56,65,74],index=[0,1,2,3])

reshaped = pd.concat([set1,set2],keys=['x','y'])
print(reshaped)

x  0     23
   1      5
   2      6
   3      7
y  0    237
   1     56
   2     65
   3     74
dtype: int64

In [41]:
reshaped.unstack()

     0   1   2   3
x   23   5   6   7
y  237  56  65  74

In [43]:
reshaped.unstack().stack()

x  0     23
   1      5
   2      6
   3      7
y  0    237
   1     56
   2     65
   3     74
dtype: int64