In [3]:
import numpy as np
import pandas as pd

data = pd.Series(['Shahab','Ali',np.nan,'Ahmed','Khan',np.nan])
print(data)

0    Shahab
1       Ali
2       NaN
3     Ahmed
4      Khan
5       NaN
dtype: object

In [4]:
null_entries = data.isnull()
print(null_entries)

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [5]:
filtered_data_method1 = data.dropna()
print(filtered_data_method1)

0    Shahab
1       Ali
3     Ahmed
4      Khan
dtype: object

In [7]:
filtered_data_method2 = data[data.notnull()]
print(filtered_data_method2)

0    Shahab
1       Ali
3     Ahmed
4      Khan
dtype: object

In [9]:
data = pd.DataFrame([[1,2,3],[4,np.nan,np.nan],[np.nan,np.nan,np.nan]])
print(data)
filtered = data.dropna()
print(filtered)

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  NaN
2  NaN  NaN  NaN
     0    1    2
0  1.0  2.0  3.0

In [13]:
data[4] = np.nan
print(data)
drop_col = data.dropna(how = 'all',axis=1)
print(drop_col)

     0    1    2   4
0  1.0  2.0  3.0 NaN
1  4.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  NaN
2  NaN  NaN  NaN

In [15]:
filled = data.fillna(0)
print(filled)

     0    1    2    4
0  1.0  2.0  3.0  0.0
1  4.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0

In [16]:
filled_dictionary = data.fillna({0:0.5,1:1,2:4,4:50})
print(filled_dictionary)

     0    1    2     4
0  1.0  2.0  3.0  50.0
1  4.0  1.0  4.0  50.0
2  0.5  1.0  4.0  50.0

In [17]:
int_data = pd.DataFrame(np.random.randn(6,2))
int_data.iloc[1:,1] = np.nan
int_data.iloc[3:,0] = np.nan
print(int_data)

          0         1
0  0.286923  1.320249
1 -0.596723       NaN
2  1.115864       NaN
3       NaN       NaN
4       NaN       NaN
5       NaN       NaN

In [19]:
fill_int_data = int_data.fillna(method='ffill')
print(fill_int_data)
fill_with_mean = int_data.fillna(int_data.mean())
print(fill_with_mean)

          0         1
0  0.286923  1.320249
1 -0.596723  1.320249
2  1.115864  1.320249
3  1.115864  1.320249
4  1.115864  1.320249
5  1.115864  1.320249
          0         1
0  0.286923  1.320249
1 -0.596723  1.320249
2  1.115864  1.320249
3  0.268688  1.320249
4  0.268688  1.320249
5  0.268688  1.320249

In [26]:
data = pd.DataFrame({'names':['Shahab','Ali','Ali'],'int':[1,1,2]})
print(data)
remove_duplicates = data.drop_duplicates(['names'])
print(remove_duplicates)

    names  int
0  Shahab    1
1     Ali    1
2     Ali    2
    names  int
0  Shahab    1
1     Ali    1

In [27]:
data = pd.Series([1,2,3,4,5,6,7,8])
print(data)
new_data = data.replace(1,10)
print(new_data)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
0    10
1     2
2     3
3     4
4     5
5     6
6     7
7     8
dtype: int64

In [30]:
df = pd.DataFrame(np.random.randn(10,3))
print(df)

          0         1         2
0  0.489742  0.654821  2.056972
1  0.694873  0.181050 -0.299950
2  0.309792  0.696091 -0.879490
3  1.027815  0.258294  0.211189
4  0.024438 -0.856509  1.257846
5 -0.256606  0.153875 -0.673167
6 -0.096140 -0.425925  1.220380
7 -2.077600 -0.267982 -1.763817
8 -0.547212  1.052564  0.832856
9  0.505923  0.537963  0.423294
3    1.027815
7   -2.077600
Name: 0, dtype: float64

In [ ]:
selected_column = df[0]
filtered = selected_column[np.abs(selected_column)>1]
print(filtered)

In [31]:
sign = np.sign(df)
print(sign)

     0    1    2
0  1.0  1.0  1.0
1  1.0  1.0 -1.0
2  1.0  1.0 -1.0
3  1.0  1.0  1.0
4  1.0 -1.0  1.0
5 -1.0  1.0 -1.0
6 -1.0 -1.0  1.0
7 -1.0 -1.0 -1.0
8 -1.0  1.0  1.0
9  1.0  1.0  1.0