In [4]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
obj = pd.Series([4,7,-5,3])
print(obj)
print(obj.values)
print(obj.index)

0    4
1    7
2   -5
3    3
dtype: int64
[ 4  7 -5  3]
RangeIndex(start=0, stop=4, step=1)

In [43]:

obj2 = pd.Series([4,7,-5,3], index=['d','b','a','c'])
print(obj2)
print(obj2.index)
print(obj2['a'])
print(obj2[['a','b','c']])
print(obj2[obj2>0])

d    4
b    7
a   -5
c    3
dtype: int64
Index(['d', 'b', 'a', 'c'], dtype='object')
-5
a   -5
b    7
c    3
dtype: int64
d    4
b    7
c    3
dtype: int64

In [44]:
print('b' in obj2)
print('e' in obj2)

True
False

In [45]:
sdata = {'ohio':3500,'Texas':7000,'Oregon':11500}
obj3 = pd.Series(sdata)
print(obj3)
print(obj3['ohio'])
print(obj3[['ohio','Texas']])

ohio       3500
Texas      7000
Oregon    11500
dtype: int64
3500
ohio     3500
Texas    7000
dtype: int64

In [46]:
states = ['California','ohio','Oregon','Texas']
obj4 = pd.Series(sdata,index=states)
print(obj4)
print(pd.isnull(obj4))
print(pd.notnull(obj4))
obj4.name = 'Population'
print(obj4)

California        NaN
ohio           3500.0
Oregon        11500.0
Texas          7000.0
dtype: float64
California     True
ohio          False
Oregon        False
Texas         False
dtype: bool
California    False
ohio           True
Oregon         True
Texas          True
dtype: bool
California        NaN
ohio           3500.0
Oregon        11500.0
Texas          7000.0
Name: Population, dtype: float64

In [47]:
data =  {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002, 2003],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
dataframe = pd.DataFrame(data)
print(dataframe)
print(dataframe.head())
dataframe = pd.DataFrame(data,columns=['year','pop','state'])
print(dataframe)
dataframe = pd.DataFrame(data,columns=['year','pop','state']
                         ,index = ['one','two','three','four','five','six'])
print(dataframe)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
   year  pop   state
0  2000  1.5    Ohio
1  2001  1.7    Ohio
2  2002  3.6    Ohio
3  2001  2.4  Nevada
4  2002  2.9  Nevada
5  2003  3.2  Nevada
       year  pop   state
one    2000  1.5    Ohio
two    2001  1.7    Ohio
three  2002  3.6    Ohio
four   2001  2.4  Nevada
five   2002  2.9  Nevada
six    2003  3.2  Nevada

In [48]:
print(dataframe['year'])
print(dataframe.loc['three'])
dataframe['debt'] = np.arange(6.)
print(dataframe)

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64
year     2002
pop       3.6
state    Ohio
Name: three, dtype: object
       year  pop   state  debt
one    2000  1.5    Ohio   0.0
two    2001  1.7    Ohio   1.0
three  2002  3.6    Ohio   2.0
four   2001  2.4  Nevada   3.0
five   2002  2.9  Nevada   4.0
six    2003  3.2  Nevada   5.0

In [50]:
series = pd.Series([12,34,55],index=['one','four','six'])
dataframe['debt'] = series
print(dataframe)

del dataframe['debt']
print(dataframe)

       year  pop   state  debt
one    2000  1.5    Ohio  12.0
two    2001  1.7    Ohio   NaN
three  2002  3.6    Ohio   NaN
four   2001  2.4  Nevada  34.0
five   2002  2.9  Nevada   NaN
six    2003  3.2  Nevada  55.0
       year  pop   state
one    2000  1.5    Ohio
two    2001  1.7    Ohio
three  2002  3.6    Ohio
four   2001  2.4  Nevada
five   2002  2.9  Nevada
six    2003  3.2  Nevada

In [55]:
series1 = pd.Series(['pink','yellow','blue'],index=[0,2,4])
print(series1)
series1 = series1.reindex(range(6),method='ffill')
print(series1)

0      pink
2    yellow
4      blue
dtype: object
0      pink
1      pink
2    yellow
3    yellow
4      blue
5      blue
dtype: object

In [65]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),
                     index=['a','b','c'],
                     columns=['ohio','texas','canada'])
print(frame)

   ohio  texas  canada
a     0      1       2
b     3      4       5
c     6      7       8

In [12]:
df = pd.DataFrame({'b':[4,7,-3,2],'a':[0,1,0,1]})
print(df)
df = df.sort_values(by='b')
print(df)
df = df.sort_values(by=['b','a'])
print(df)

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1
   b  a
2 -3  0
3  2  1
0  4  0
1  7  1
   b  a
2 -3  0
3  2  1
0  4  0
1  7  1